html {
  background: url(band.jpg) 
  no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  }
 
  
 * {
 padding: 0;
 margin: 0;
 font-family: Trebuchet MS;
}
 
.menu {
 margin: 5px;
 padding: 5px;
text-align: center;
position: absolute;
margin-top: -5%;
margin-left: 34%;
}
 
.menu ul li {
 display: inline;
 padding: 0 5px;
 width: 40px;
}
 
.menu ul li a, a:link, a:visited, a:active {
 color: #FFF;
 text-decoration: none;
 font-weight: bold;
 border-bottom: 3px solid #FFF;
}
 
.menu ul li a:hover {
 color: #FFF;
 border-bottom: 5px solid #00ff40;
 border-top:  5px solid #00ff40;
}

.detekst{
	font-style: italic;
	color:  #e6e6e6;
	max-width: 680px;
	font-size: 1.3em;
    font-style: italic;
    margin: 0 auto 1.1em ;
	margin-top : 7%;
	text-align: center;
	}

.teksttwee{
	color:  #e6e6e6;
    font-style: italic;
	max-width: 680px;
	font-size: 1.3em;
    font-style: italic;
    margin: 0 auto 1.1em ;
	margin-top : 2%;
	text-align: center;
}

.tekstdrie {
	color:  #e6e6e6;
    font-style: italic;
	max-width: 680px;
	font-size: 1.3em;
    font-style: italic;
    margin: 0 auto 1.1em ;
	margin-top : 1%;
	text-align: center;
}
.carla{
	position: absolute;
	color:  #e6e6e6;
	max-width: 250px;
	font-size: 1.1em;
    margin: 0 auto 1em ;
    text-align: center;
	margin-top : 17%;
	margin-left: 5%;
	text-align: left;
}
.mark{
	position: absolute;
	color:  #e6e6e6;
	max-width: 250px;
	font-size: 1.1em;
    margin: 0 auto 1em ;
    text-align: center;
	margin-top : 17%;
	margin-left: 30%;
	text-align: left;
}
.vincent{
	position: absolute;
	color:  #e6e6e6;
	max-width: 250px;
	font-size: 1.1em;
    margin: 0 auto 1em ;
    text-align: center;
	margin-top : 17%;
	margin-left: 55%;
	text-align: left;
}

.wim {
	position: absolute;
	color:  #e6e6e6;
	max-width: 250px;
	font-size: 1.1em;
    margin: 0 auto 1em ;
    text-align: center;
	margin-top : 17%;
	margin-left: 80%;
	text-align: left;
}
h3 {
	font-size: 1.28em;
	color: #83b8cc;
	line-height: 1.9;
}
img{
border-radius: 50%;
max-width: 190px;
margin-top: -80%;
}